:root{
    --text-color:rgb(240,248,250);
    --active-link-color : rgb(182 ,217,243);
    --hover-color : rgb();
}
body{
    background-image: url(fotot/richard-horvath-_nWaeTF6qo0-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}








