
body{
    background-image: url(fotot/richard-horvath-_nWaeTF6qo0-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar ul li a {
    font-size: 25px;
    color: aliceblue;
}
.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
    color: #e9ecef;
}