.box{
  margin: 4rem 30rem;
  border-radius: 7px;
  box-shadow: 50px 60px 100px rgba(0, 0, 0, 0.8);

.btn{
  position: absolute;
  top:75%;
  left: 53%;
  // background-color: rgb(46, 151, 46);
  // color: rgb(11, 248, 216);
}

.fab{
  margin-top: 5px;
  position: absolute;
  margin-left: 10rem;
}

.p1{
  padding-top: 40px;
}
  h3{
    color: black;
    font-weight: bold;
  }
  p{
    color: black;
    font-size: 16px;
  }
  .grd{
    padding: 1rem;
  }
}

h6{
  margin-top: 10px;
  color: black;
  font-size: 18px;
  padding-top: 10px;
}


@media only screen and (max-width: 1923px) {
  
}